{% if events is not empty %}
    {% set STATUS = constant('App\\Entity\\Event::STATUS') %}
    {% set INCOMING = constant('App\\Entity\\Event::INCOMING') %}
    {% set ONGOING = constant('App\\Entity\\Event::ONGOING') %}
    {% set PAST = constant('App\\Entity\\Event::PAST') %}
    {% for event in events %}
    <div class="event-item col-md-12 ph0 mb15" style="border-color: {{ event.category.color }};">
        <div class="col-md-2 pl10 mt10 event-date">
            <h4 class="black">{{ event.startAt|date('d F') }}</h4>
            <h5>{{ event.startAt|date('H:i') }} - {{ event.endAt|date('H:i') }}</h5>
        </div>
        <div class="col-md-2 pl5 event-photo">

            {% if vich_uploader_asset(event, 'imageFile') is not null %}
                <img class="" title="event-image" src="{{ vich_uploader_asset(event, 'imageFile')|imagine_filter('event_image_thumbnail') }}">
            {% else %}
                <img src="{{ asset('build/images/events/defaultEventImage.jpg') }}" >
            {% endif %}
        </div>
        <div class="col-md-6 pl5 mt10 event-details">
            {% include 'common/events/statusTemplate.html.twig'
                with {
                'status': event.status,
                'statusConst': STATUS,
                'incomingConst': INCOMING,
                'ongoingConst': ONGOING,
                'pastConst': PAST
            }
            %}
            <h4 class="black">{{ event.name }}</h4>
            <h5>{{ event.entity.name }}</h5>
        </div>
        <div class="col-md-2 pl5 event-actions">
            <a class="preview-event-action btn btn-sm {% if event.status == PAST %}btn-default{% else %}btn-primary{% endif %} btn-block mt5 block col-md-12 col-xs-6" data-event-preview="{{ path('front_event_details', {'id': event.id}) }}" >{{ 'label.details'|trans() }}</a>
            {% if event.status == INCOMING and ((app.user and not event.checkIfParticipant(app.user)) or app.user is null)  %}
                <a class="join-event-action btn btn-sm btn-info btn-block mt5 block col-md-12 col-xs-6" data-action="{{ path('front_event_join', {'id': event.id}) }}" >{{ 'label.join'|trans() }}</a>
            {% endif %}
            {% if app.user and event.checkIfParticipant(app.user) %}
                <a href="#" class="btn btn-sm btn-success btn-block mt5 block col-md-12 col-xs-6">{{ 'label.joined'|trans() }}</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% else %}
<div class="col-md-12 ph0 mb15">
    {{ 'label.no_events_found'|trans }}
</div>
{% endif %}
