{{ form_start(filterForm, { 'attr': {'class': 'form-horizontal calendar-filter-form', 'novalidate': 'true'} }) }}
<div class="row">
    <div class="col-md-4">
        {{ form_widget(filterForm.category) }}
    </div>
    <div class="col-md-4">
        {{ form_widget(filterForm.entity) }}
    </div>
    <div class="col-md-4">
        {{ form_widget(filterForm.status) }}
    </div>
</div>
{{ form_end(filterForm) }}