{% extends 'front/base/frontBase.html.twig' %}
{% block content %}
    <div class="col-md-12">
        <div class="admin-form">
            {{ include('front/base/header.html.twig') }}
            <div class="panel">
                <div class="panel-heading pt15 pb15 ph25">
                    <span class="panel-title fw400">
                      <i class="fa fa-calendar-alt"></i>
                        {{ 'label.calendar'|trans }}
                    </span>
                </div>
                <div class="panel-body p25 pt10">
                    <div class="event-calendar-loader" >
                        <div class="loader" style="display: none"></div>
                    </div>
                    <div id='front_calendar' class="admin-theme "></div>
                </div>


                <div class="panel-heading pt10 pb10 ph25 border-top">
                    <span class="panel-title fw400">
                      <i class="fa fa-search"></i>
                        {{ 'label.filters'|trans }}
                    </span>
                </div>
                <div class="panel-body ph25 pt10 pb10 ">
                    {{ include('front/calendar/filters.html.twig') }}
                </div>
                <div class="panel-heading pt15 pb15 ph25 border-top">
                    <span class="panel-title fw400">
                      <i class="fa fa-calendar-check"></i>
                        {{ 'label.event_list'|trans }}  <span id="filter-title-dates"></span>
                    </span>
                </div>
                <div class="panel-body p25 pt10">
                    <div class="section row event-list-loader">
                        <div class="loader"></div>
                    </div>

                    <div id="events-list">
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_front_footer %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendar_front') }}
    {{ encore_entry_script_tags('location_maps') }}
{% endblock %}