<div class="panel-body p25">
    <div class="section event-detail-content mt5">
        <div class="row">
            <div class="col-md-12">
                <div class="panel mb15">
                    <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-calendar-check"></i>
                      </span>
                        <span class="panel-title">
                            {{ event.name }} {{ event.entity.name }}
                            {% set STATUS = constant('App\\Entity\\Event::STATUS') %}
                            {% set INCOMING = constant('App\\Entity\\Event::INCOMING') %}
                            {% set ONGOING = constant('App\\Entity\\Event::ONGOING') %}
                            {% set PAST = constant('App\\Entity\\Event::PAST') %}
                            {% include 'common/events/statusTemplate.html.twig'
                                with {
                                'status': event.status,
                                'statusConst': STATUS,
                                'incomingConst': INCOMING,
                                'ongoingConst': ONGOING,
                                'pastConst': PAST
                            } %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--ROW  -->
        {% if vich_uploader_asset(event, 'imageFile') is not null %}
        <div class="row">
            <div class="col-md-12 mb15">
                <img style="width: inherit;"  src="{{ vich_uploader_asset(event, 'imageFile')|imagine_filter('event_image_details') }}">
            </div>
        </div>
        {% endif %}
        <!--ROW  -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel mb15">
                    <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-align-justify"></i>
                      </span>
                        <span class="panel-title">{{ 'header.event_details'|trans() }}</span>
                    </div>
                    <div class="panel-body pb5">
                        {{ event.description|raw }}
                    </div>
                </div>
            </div>
        </div>
        <!--ROW  -->
        <div class="row">
            <div class="col-md-6">
                <div class="panel mb15">
                    <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-clock-o"></i>
                      </span>
                        <span class="panel-title">{{ 'label.time'|trans() }}</span>
                    </div>
                    <div class="panel-body pb5">
                        {{ event.startAt|date('d F') }}, {{ event.startAt|date('H:i') }} - {{ event.endAt|date('H:i') }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel mb15">
                    <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-map-marker"></i>
                      </span>
                        <span class="panel-title">{{ 'label.location'|trans() }}</span>
                    </div>
                    <div class="panel-body pb5">
                        {{ event.city }}, {{ git event.address }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel mb15">
                    <div id="map" data-name="{{ event.entity.name }}" data-address="{{ event.city }}, {{ event.address }}" style="width: inherit; height: 300px"></div>
                </div>
            </div>
        </div>

        <!--ROW  -->
        {% if event.agenda is not empty %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel mb15">
                    <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-list"></i>
                      </span>
                        <span class="panel-title">{{ 'label.agenda'|trans() }}</span>
                    </div>
                    <div class="panel-body pb5">
                        {{ event.agenda|raw }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!--ROW  -->
        <div class="row">
            <div class="col-md-6">
                <div class="panel mb15">
                    <div class="panel-heading">
                  <span class="panel-icon">
                    <i class="fa fa-ticket-alt"></i>
                  </span>
                        <span class="panel-title">{{ 'label.tickets'|trans() }}</span>
                    </div>
                    <div class="panel-body pb5">
                        {{ event.tickets|raw }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel mb15">
                    <div class="panel-heading">
                  <span class="panel-icon">
                    <i class="fa fa-money-bill-alt"></i>
                  </span>
                        <span class="panel-title">{{ 'label.is_event_free'|trans() }}</span>
                    </div>
                    <div class="panel-body pb5">
                        {% if event.freeEntry %}
                           {{ 'label.yes_event_is_free'|trans() }}
                        {% else %}
                            {{ 'label.no_event_is_free'|trans() }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!--ROW  -->
        <div class="row">
            <div class="col-md-6">
                <div class="panel mb15">
                    <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="glyphicon glyphicon-equalizer"></i>
                      </span>
                        <span class="panel-title">{{ 'label.administrator'|trans() }}</span>
                    </div>
                    <div class="panel-body pb5">
                        {{ event.entity.name }}<br>
                        {{ event.entity.city }}, {{ event.entity.address }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel mb15">
                    <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-columns"></i>
                      </span>
                        <span class="panel-title">{{ 'label.category'|trans() }}</span>
                    </div>
                    <div class="panel-body pb5">
                        <span class="label  mr5 mb10 ib lh15" style="background-color: {{ event.category.color }}">
                            {{ event.category.name }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--ROW  -->
        {% if event.externalLink %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel mb15">
                        <div class="panel-heading">
                          <span class="panel-icon">
                            <i class="fa fa-globe"></i>
                          </span>
                            <span class="panel-title">{{ 'label.external_link'|trans() }}</span>
                        </div>
                        <div class="panel-body pb5">
                            <a href="{{ event.externalLink }}" target="_blank">{{ 'label.link'|trans() }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<div class="admin-form">
    <div class="panel-footer  text-right">
        {% if event.status == INCOMING and app.user and not event.checkIfParticipant(app.user) %}
            <span class="join-modal-event-action button btn-info" data-action="{{ path('front_event_join', {'id': event.id}) }}" >{{ 'label.join'|trans() }}</span>
        {% endif %}
        <span class="button btn-default close-modal">{{ 'action.back'|trans() }}</span>
    </div>
</div>
