<div class="panel-body p25">
    <div class="section event-join-content mt5">
        <!--ROW  -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel mbn">
                    <div class="panel-body pb0 no-border">
                        {% if status == 'login' %}
                            <i class="fa fa-info mr5"></i>
                            {{ 'notification.event_join_first_login'|trans() }}
                        {% elseif status == 'already_joined' %}
                            <i class="fa fa-remove mr5"></i>
                            {{ 'notification.event_join_first_already_added'|trans() }}
                        {% elseif status == 'successful_joined' %}
                            <i class="fa fa-check mr5"></i>
                            {{ 'notification.event_join_successfull'|trans() }}
                         {% elseif status == 'successful_unjoined' %}
                             <i class="fa fa-check mr5"></i>
                             {{ 'notification.event_unjoin_successfull'|trans() }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="admin-form">
    <div class="panel-footer text-right">
        {% if status == 'login' %}
            <a class="button btn-primary" href="{{ path('security_login') }}">{{ 'label.login'|trans() }}</a>
        {% elseif status == 'successful_joined' %}
            <a class="button btn-primary" href="{{ path('front_events_joined') }}">{{ 'label.joined_events'|trans() }}</a>
        {% endif %}
        <span class="button btn-default close-modal">{{ 'action.back'|trans() }}</span>
    </div>
</div>
