<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app_header') }}
    {% endblock %}
    {% block javascripts_header %}
        {{ encore_entry_script_tags('app_header') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}" />
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block body %}
    {% endblock %}

    {% block javascripts_footer %}
        {{ encore_entry_script_tags('app_footer') }}
    {% endblock %}
    </body>
</html>
