{% extends 'base/baseAdmin.html.twig' %}

{% block body_class 'external-page sb-l-c sb-r-c' %}
{% set route_name = app.request.attributes.get('_route') %}

{% block body %}
    <div id="main" class="animated fadeIn">
        <section id="content_wrapper">
            <!-- begin canvas animation bg -->
            <div id="canvas-wrapper">
                <canvas id="demo-canvas"></canvas>
            </div>

            <section id="content" class="table-layout animated fadeIn no-left-aside">
                <div class="tray tray-center">
                        <div class="tab-content mw1100 center-block center-children">
                            {% block content %}

                            {% endblock %}
                        </div>
                </div>
            </section>
        </section>
    </div>
{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}
    {{ encore_entry_script_tags('canvas') }}
{% endblock %}
