{% extends 'base/baseAdmin.html.twig' %}

{% block body_class 'sb-top sb-top-lg' %}

{% block body %}
    {% set route_name = app.request.attributes.get('_route') %}
    <!-- Start: Main -->
    <div id="main">
        <!-- Start: Header -->
        {{ include('base/baseElements/header.html.twig') }}
        <!-- End: Header -->
        {{ include('base/baseElements/aside.html.twig') }}
        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">
            <!-- Start: Topbar -->
            {{ wo_render_breadcrumbs() }}
            <!-- End: Topbar -->
            <!-- Begin: Content -->
            {% block flashMsg %}
                {{ include('base/baseElements/flashMsg.html.twig') }}
            {% endblock %}
                {% block content %}
                {% endblock %}
            <!-- End: Content -->
        </section>
        <!-- Start: Footer -->
        {{ include('base/baseElements/footer.html.twig') }}
        <!-- End: Footer -->
    </div>
    <!-- End: Main -->
{% endblock %}
