<div class="panel-heading">
    <div class="panel-title hidden-xs">
        <span class="glyphicon glyphicon-filter"></span>Filtry</div>
</div>

<div class="panel-body">
    {{ form_start(filterForm, { 'attr': {'class': 'form-horizontal datatable-filter-form', 'novalidate': 'true'} }) }}
    <div class="row">
        <div class="form-group col-lg-6">
            <label class="col-lg-4 control-label">
                {{ form_label(filterForm.userId) }}
            </label>
            <div class="col-lg-8">
                <div class="bs-component">
                    {{ form_widget(filterForm.userId) }}
                </div>
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label class="col-lg-4 control-label">
                {{ form_label(filterForm.toEmail) }}
            </label>
            <div class="col-lg-8">
                <div class="bs-component">
                    {{ form_widget(filterForm.toEmail) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-6">
            <label class="col-lg-4 control-label">
                {{ form_label(filterForm.subject) }}
            </label>
            <div class="col-lg-8">
                <div class="bs-component">
                    {{ form_widget(filterForm.subject) }}
                </div>
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label class="col-lg-4 control-label">
                {{ form_label(filterForm.type) }}
            </label>
            <div class="col-lg-8">
                <div class="bs-component">
                    {{ form_widget(filterForm.type) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-6">
            <label class="col-lg-4 control-label">
                {{ form_label(filterForm.isSent) }}
            </label>
            <div class="col-lg-8">
                <div class="bs-component">
                    {{ form_widget(filterForm.isSent) }}
                </div>
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label class="col-lg-4 control-label">
                {{ form_label(filterForm.fullName) }}
            </label>
            <div class="col-lg-8">
                <div class="bs-component">
                    {{ form_widget(filterForm.fullName) }}
                </div>
            </div>
        </div>
    </div>

    <label class="switch block right">
        <span class="btn btn-sm btn-primary btn-block clear-filters">{{ 'label.clear_filter'|trans() }}</span>
    </label>
    {{ form_end(filterForm) }}
</div>