{% extends 'base/contentBase.html.twig' %}
{% block title %}{{ 'label.messages'|trans() }} - {{ site_name }}{% endblock %}

{% block content %}
<section id="content" class="table-layout animated fadeIn">
<div class="tray tray-center" >
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-visible">
                <!--FILTERS START  -->
                {{ include('admin/messages/filters.html.twig') }}
                <!--FILTERS ENDS  -->
                <div class="panel-heading">
                    <div class="panel-title hidden-xs">
                        <span class="glyphicon glyphicons-message_full"></span>{{ 'label.table_msg'|trans }}</div>
                </div>
                <div class="panel-body pn ">
                    <table class="table table-striped table-hover datatable" id="{{ tableId }}" data-url="{{ path('admin_datatable', {'id': tableId}) }}"   cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th class="dt-id-col">{{ 'label.id'|trans }}</th>
                            <th>{{ 'label.receiver'|trans }}</th>
                            <th>{{ 'label.title'|trans }}</th>
                            <th>{{ 'label.type'|trans }}</th>
                            <th>{{ 'label.create_date'|trans }}</th>
                            <th>{{ 'label.sent_at_date'|trans }}</th>
                            <th>{{ 'label.status'|trans }}</th>
                            <th>{{ 'label.action'|trans }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

    {% block modals %}
        {{ include('admin/modals/popupDeleteConfirmation.html.twig') }}
    {% endblock %}
    <!-- Start: DataTableScript -->
    {% block javascripts_footer %}
        {{ parent() }}
        {{ encore_entry_script_tags('messages_list') }}
    {% endblock %}
{% endblock %}
