{% extends 'base/contentBase.html.twig' %}
{% block title %}{{ 'label.messages'|trans() }} - {{ site_name }}{% endblock %}

{% block content %}
<section id="content" class="table-layout animated fadeIn">
<div class="row messages-page">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body pn br-t-n">
                <!-- view message -->
                <div class="message-view">
                    <!-- message meta -->
                    <div class="message-meta">
                        {% if mail.createdAt is not null %}
                            <span class="pull-right text-muted">{{ 'label.create_date'|trans()}}: {{ mail.createdAt|date('Y-m-d H:i:s') }}</span><br>
                        {% endif %}
                        {% if mail.sentAt is not null %}
                            <span class="pull-right text-muted">{{ 'label.sent_at_date'|trans()}}: {{ mail.sentAt|date('Y-m-d H:i:s') }}</span><br>
                        {% endif %}
                        <h3 class="subject">{{ 'label.topic'|trans() }}: {{ mail.subject }}</h3>
                        <hr class="mt20 mb15">
                    </div>
                    <!-- message header -->
                    <div class="message-header">
                        <div class="pull-right mt5 clearfix">
                            {% if mail.isSent == true %}
                                <span class="label bg-success">{{ 'status.sent'|trans() }}</span>
                            {% elseif mail.isFailed == true %}
                                <span class="label bg-danger mr10">{{ 'status.not_sent_due_to_error'|trans() }}</span>
                             {% else %}
                                <span class="label bg-warning mr10">{{ 'status.waiting_to_send'|trans() }}</span>
                            {% endif %}
                        </div>
                        <h4 class="mt15 mb5">{{ 'label.from'|trans() }}: {{ mail.fromName }}</h4>
                        <small class="text-muted clearfix">{{ 'label.to'|trans() }}: {{ mail.toEmail }}</small>
                    </div>
                    <hr class="mb15 mt15">
                    <!-- message body -->
                    <div class="message-body">
                        <iframe src="{{ path('message_html', {'mail': mail.id}) }}" frameborder="0" style="overflow:hidden;height:100%;width:100%;min-height: 500px;"height="150%" width="150%">
                        </iframe>
                    </div>
                    <hr class="mb15 mt15">
                    <!-- message footer -->
                    <div class="message-footer" style="padding-bottom: 30px;">
                        {% if filesMap is not null and filesMap is not empty%}
                            <h3 class="subject">{{ 'label.attachments'|trans() }}:</h3>
                            {% for fileName, location in filesMap %}
                                <a href="{{ location }}" target="_blank">{{ fileName }}</a><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <label class="switch block right m10">
                    <a href="{{ backUrl }}" class="btn btn-default ">{{ 'action.back'|trans }}</a>
                </label>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}