{% extends 'base/contentBase.html.twig' %}
{% block title %}{{ 'label.messages'|trans() }} - {{ site_name }}{% endblock %}

{% block content %}
<section id="content" class="table-layout animated fadeIn">
<div class="row messages-page">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body pn br-t-n">

                <!-- view message -->
                <div class="message-view">
                    <!-- message meta -->

                    <div class="message-meta">
                        {% if message.createdAt is not null %}
                            <span class="pull-right text-muted">Data utworzenia {{ message.createdAt|date('Y-m-d H:i:s') }}</span><br>
                        {% endif %}
                        {% if message.sentAt is not null %}
                            <span class="pull-right text-muted">Data wysłania {{ message.sentAt|date('Y-m-d H:i:s') }}</span><br>
                        {% endif %}

                        <h3 class="subject">Temat - {{ message.subject }}</h3>

                        <hr class="mt20 mb15">
                    </div>

                    <!-- message header -->
                    <div class="message-header">
                        <div class="pull-right mt5 clearfix">
                            {% if message.isSent == true %}
                                <span class="label bg-success">Wysłana</span>
                            {% elseif message.isFailed == true %}
                                <span class="label bg-danger mr10">Nie wysłana z powodu błedu</span>
                             {% else %}
                                <span class="label bg-warning mr10">Oczekuje na wysłanie</span>
                            {% endif %}
                        </div>
                        <h4 class="mt15 mb5">Od: {{ message.fromName }}</h4>
                        <small class="text-muted clearfix">Do: {{ message.toEmail }}</small>
                    </div>
                    <hr class="mb15 mt15">
                    <!-- message body -->
                    <div class="message-body">

                        <iframe src="{{ path('message_html', {'message': message.id}) }}" frameborder="0" style="overflow:hidden;height:100%;width:100%;min-height: 600px;"height="150%" width="150%">
                        </iframe>
                    </div>
                    <hr class="mb15 mt15">
                    <!-- message footer -->
                    <div class="message-footer" style="padding-bottom: 30px;">
                        <div class="col-xs-2 pull-right" style="clear: both;">
                            <a href="{{ path('participants_messages_list') }}">
                                <div class="bs-component">
                                    <button type="button" class="btn btn-system btn-block">Wróć</button>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}