{{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
<div class="form-group">
    <label class="col-lg-2 control-label">{{ 'label.acceptance'|trans() }}</label>
    <div class="col-lg-10">
        <div class="bs-component">
            <div class="form-control-static">
                {% include 'common/events/acceptanceTemplate.html.twig' with {'isAccepted': event.isAccepted } %}
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">{{ form_label(form.imageFile) }}</label>
    <div class="col-lg-10">
        <div class="bs-component">
            {{ form_widget(form.imageFile) }}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">{{ form_label(form.name) }}</label>
    <div class="col-lg-10">
        <div class="bs-component">
            {{ form_widget(form.name) }}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">{{ form_label(form.startAt) }}</label>
    <div class="col-lg-10">
        <div class="bs-component">
            {{ form_widget(form.startAt) }}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">{{ form_label(form.endAt) }}</label>
    <div class="col-lg-10">
        <div class="bs-component">
            {{ form_widget(form.endAt) }}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">{{ form_label(form.description) }}</label>
    <div class="col-lg-10">
        <div class="bs-component">
            {{ form_widget(form.description, { 'attr': {'class': 'form-control summernote-no-toolbar'} }) }}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">{{ form_label(form.agenda) }}</label>
    <div class="col-lg-10">
        <div class="bs-component">
            {{ form_widget(form.agenda, { 'attr': {'class': 'form-control summernote-no-toolbar'} }) }}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">{{ form_label(form.entity) }}</label>
    <div class="col-lg-10">
        <div class="bs-component">
            {{ form_widget(form.entity) }}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">{{ form_label(form.category) }}</label>
    <div class="col-lg-10">
        <div class="bs-component">
            {{ form_widget(form.category) }}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">{{ form_label(form.city) }}</label>
    <div class="col-lg-10">
        <div class="bs-component">
            {{ form_widget(form.city) }}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">{{ form_label(form.address) }}</label>
    <div class="col-lg-10">
        <div class="bs-component">
            {{ form_widget(form.address) }}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">{{ form_label(form.externalLink) }}</label>
    <div class="col-lg-10">
        <div class="bs-component">
            {{ form_widget(form.externalLink) }}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">{{ form_label(form.tickets) }}</label>
    <div class="col-lg-10">
        <div class="bs-component">
            {{ form_widget(form.tickets, { 'attr': {'class': 'form-control summernote-no-toolbar'} }) }}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">{{ form_label(form.freeEntry) }}</label>
    <div class="col-lg-10">
        <div class="bs-component">
            <label class="switch block mt5 switch-primary">
                {{ form_widget(form.freeEntry) }}
                {% if form_errors(form.freeEntry) is not empty %}
                    <div class="error-form">{{ form_errors(form.freeEntry) }}</div>
                {% endif %}
                <label for="event_preview_freeEntry" data-on="{{ 'label.yes'|trans() }}" data-off="{{ 'label.no'|trans() }}"></label>
            </label>
        </div>
    </div>
</div>

{{ form_end(form) }}

