<div class="admin-form theme-primary popup-basic popup-lg mfp-with-anim mfp-hide" id="calendarEventDetails"  role="dialog" >
    <div class="panel">
        <div class="panel-heading">
        <span class="panel-title">
          <i class="fa fa-calendar-check"></i>{{ 'header.event_details'|trans() }}
        </span>
        </div>
        <div class="panel-body p25">
            <div class="section row event-detail-loader">
                <div class="loader"></div>
            </div>
            <div class="section row event-detail-content">
            </div>
        </div>
        <div class="panel-footer  text-right">
            <span class="button btn-default close-modal">{{ 'action.back'|trans() }}</span>
            <a id="edit-event-action" style="display: none;"><span class="button btn-success" >{{ 'action.edit'|trans() }}</span></a>
        </div>
    </div>
</div>