{% for success in app.session.flashBag.get('success', []) %}
    <script type="text/javascript">
            window.successMessage('{{ 'label.success'|trans() }}',  '{{ success }}');
    </script>
{% endfor %}

{% for failure in app.session.flashBag.get('error', []) %}
    <script type="text/javascript">
            window.errorMessage('{{ 'label.fail'|trans() }}',  '{{ failure|raw }}');
    </script>
{% endfor %}
