<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('front_css') }}
    {% endblock %}
    {% block javascripts_header %}
        {{ encore_entry_script_tags('front_header') }}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb_km9-LCyWJtOingbwFd76ercGaHt5mI&libraries=geometry"></script>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}" />
</head>
<body class="{% block body_class %}external-page sb-l-c sb-r-c{% endblock %}">
{% set route_name = app.request.attributes.get('_route') %}
<div id="main" class="animated fadeIn">
    <section id="content_wrapper">
        <!-- begin canvas animation bg -->
        <div id="canvas-wrapper">
            <canvas id="demo-canvas"></canvas>
        </div>

        <section id="content" class="table-layout animated fadeIn no-left-aside">
            <div class="tray tray-center">
                <div class="tab-content mw1100 center-block center-children">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </section>
    </section>
</div>
{% block modals %}
    {{ include('front/base/modalBase.html.twig') }}
{% endblock %}

{% block javascripts_front_footer %}
    {{ encore_entry_script_tags('front_footer') }}
{% endblock %}

{{ include('front/base/flashMsg.html.twig') }}

</body>
</html>
