<div class="row mb15 table-layout">
    <div class="col-xs-6 va-m pln" style="font-size: 18px;color: #FFF;">
        <a href="{{ path('front_index') }}" class="aplication-url"><b>{{ site_name }}</b></a>
    </div>

    <div class="col-xs-6 text-right va-b pr5">
        <div class="login-links">
            {% if app.user %}
                <a href="{{ path('front_events_joined') }}" {% if route_name starts with 'front_events_joined' %}class="active"{% endif%} title="{{ 'header.joined_events'|trans }}">{{ 'header.joined_events'|trans }}</a>
                <span class="text-white"> | </span>
                <a href="{{ path('security_login') }}" title="{{ 'header.panel'|trans }}">{{ 'header.panel'|trans }}</a>
                <span class="text-white"> | </span>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_event_new') }}" title="{{ 'label.create_event'|trans }}">{{ 'label.create_event'|trans }}</a>
                 {% else %}
                     <a href="{{ path('panel_event_new') }}" title="{{ 'label.create_event'|trans }}">{{ 'label.create_event'|trans }}</a>
                {% endif %}
                <span class="text-white"> | </span>
                <a href="{{ path('security_logout') }}" title="{{ 'label.logout'|trans }}">{{ 'label.logout'|trans }}</a>
            {% else %}
                <a href="{{ path('security_login') }}" {% if route_name starts with 'security_login' %}class="active"{% endif%} title="{{ 'header.login'|trans }}">{{ 'header.login'|trans }}</a>
                <span class="text-white"> | </span>
                <a href="{{ path('register_user') }}" {% if route_name starts with 'register_user' %}class="active"{% endif%} title="{{ 'header.register'|trans }}">{{ 'header.register'|trans }}</a>
            {% endif %}
        </div>
    </div>
</div>