<div class="theme-primary popup-basic popup-lg mfp-with-anim mfp-hide" id="front-modal"  role="dialog" >
    <div class="panel">
        <div class="section row event-detail-loader">
            <div class="loader"></div>
        </div>
        <div class="section event-detail-content" id="modalContent">
        </div>
    </div>
</div>