{% extends 'common/calendar/index.html.twig' %}

{% block javascripts_footer %}
    {{ encore_entry_script_tags('app_footer') }}
    {{ encore_entry_script_tags('calendar_admin') }}
    {{ encore_entry_script_tags('events_details') }}
{% endblock %}