{% extends 'base/contentBase.html.twig' %}
{% block title %}{{ 'label.categories'|trans() }} - {{ site_name }}{% endblock %}

{% block content %}
<section id="content" class="table-layout animated fadeIn">
<div class="row">
        <div class="col-md-6">
            <div class="panel">
                {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                <div class="panel-heading">
                {% if action == 'edit' %}
                    <span class="panel-title">{{ 'action.editing'|trans }}</span>
                {% else %}
                    <span class="panel-title">{{ 'action.creating'|trans }}</span>
                {% endif %}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">{{ 'label.name'|trans }}*</label>
                        <div class="col-lg-8">
                            <div class="bs-component">
                                {{ form_widget(form.name) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">{{ 'label.description'|trans }}*</label>
                        <div class="col-lg-8">
                            <div class="bs-component">
                                {{ form_widget(form.description) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">{{ 'label.color'|trans }}</label>
                        <div class="col-lg-2">
                            <div class="bs-component">
                                {{ form_widget(form.color) }}
                            </div>
                        </div>
                    </div>
                    <label class="switch block right">
                        <a href="{{ path('admin_category_list') }}" class="btn btn-default ">{{ 'action.back'|trans }}</a>
                        <button type="submit" class="btn btn-system">{{ 'action.save'|trans }}</button>
                    </label>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
