{% extends 'base/contentBase.html.twig' %}
{% block title %}{{ 'label.categories'|trans() }} - {{ site_name }}{% endblock %}

{% block content %}
<section id="content" class="table-layout animated fadeIn">
    <div class="tray tray-center" >
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-visible" id="spy2">
                    <!--FILTERS START  -->
                    {{ include('admin/categories/actions.html.twig') }}
                    <!--FILTERS ENDS  -->
                    <div class="panel-heading">
                        <div class="panel-title hidden-xs">
                            <span class="glyphicon glyphicon-tasks"></span>{{ 'label.list'|trans }}</div>
                    </div>
                    <div class="panel-body pn">
                        <table class="table table-striped table-hover datatable" id="{{ tableId }}" data-url="{{ path('admin_datatable', {'id': tableId}) }}" cellspacing="0" width="100%"  style="table-layout: fixed;width: 100%;">
                            <thead>
                            <tr>
                                <th class="dt-id-col">{{ 'label.id'|trans }}</th>
                                <th>{{ 'label.name'|trans }}</th>
                                <th>{{ 'label.color'|trans }}</th>
                                <th>{{ 'label.create_date'|trans }}</th>
                                <th>{{ 'label.update_date'|trans }}</th>
                                <th>{{ 'label.action'|trans }}</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    {% block modals %}
        {{ include('admin/modals/popupDeleteConfirmation.html.twig') }}
    {% endblock %}
    <!-- Start: DataTableScript -->
    {% block javascripts_footer %}
        {{ parent() }}
        {{ encore_entry_script_tags('default_list') }}
    {% endblock %}
{% endblock %}
