{% if events is not empty %}
    {% set STATUS = constant('App\\Entity\\Event::STATUS') %}
    {% set INCOMING = constant('App\\Entity\\Event::INCOMING') %}
    {% set ONGOING = constant('App\\Entity\\Event::ONGOING') %}
    {% set PAST = constant('App\\Entity\\Event::PAST') %}

    {% for event in events %}
    <tr>
        <td class="w100">
            {% if vich_uploader_asset(event, 'imageFile') is not null %}
                <img class="img-responsive mw40 ib mr10" title="event-image" src="{{ vich_uploader_asset(event, 'imageFile')|imagine_filter('event_image_thumbnail') }}">

            {% else %}
                -
            {% endif %}
        </td>
        <td class="">{{ event.name }}</td>
        <td class="">{{ event.entity.name }}</td>
        <td class="">{{ event.address }}</td>
        <td class="">
            {% include 'admin/categories/colorTemplate.html.twig'
                with {
                'color': event.category.color,
                'name': event.category.name
            }
            %}
        </td>
        <td class="">
            {% include 'common/events/statusTemplate.html.twig'
                with {
                    'status': event.status,
                    'statusConst': STATUS,
                    'incomingConst': INCOMING,
                    'ongoingConst': ONGOING,
                    'pastConst': PAST
            }
            %}
        </td>
        <td class="">
            {% include 'common/events/acceptanceTemplate.html.twig' with {'isAccepted': event.isAccepted } %}
        </td>
        <td class="">{{ event.startAt|date('H:i Y-m-d') }} - {{ event.endAt|date('H:i Y-m-d') }}</td>
        <td class="text-right">
            <div class="btn-group text-right">
                <button type="button" class="btn btn-primary br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> {{ 'label.action'|trans() }}
                    <span class="caret ml5"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a class="preview-event-action"
                           {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_KEEPER') %}
                               data-event-edit="{{ path('admin_event_edit', {'id': event.id}) }}"
                               data-event-preview="{{ path('admin_event_details_modal', {'id': event.id}) }}"
                           {% elseif is_granted('ROLE_USER') and event.isAccepted == false %}
                               data-event-edit="{{ path('panel_event_edit', {'id': event.id}) }}"
                               data-event-preview="{{ path('panel_event_details_modal', {'id': event.id}) }}"
                           {% elseif is_granted('ROLE_USER') and event.isAccepted == true %}
                               data-event-preview="{{ path('panel_event_details_modal', {'id': event.id}) }}"
                           {% endif %}
                        >
                            {{ 'action.preview'|trans() }}
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_KEEPER') %}
                    <li>
                        <a href="{{ path('admin_event_edit', {'id': event.id}) }}">{{ 'action.edit'|trans() }}</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') and event.isAccepted == false %}
                        <li>
                            <a href="{{ path('panel_event_edit', {'id': event.id}) }}">{{ 'action.edit'|trans() }}</a>
                        </li>
                    {% endif %}

                    {% if ((is_granted('ROLE_ADMIN') or is_granted('ROLE_KEEPER')) and event.isAccepted == false) %}
                    <li>
                        <a class="accept-event-action" data-event-accept="{{ path('admin_event_accept', {'id': event.id}) }}">{{ 'action.accept'|trans() }}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
{% else %}
<tr>
    <td colspan="7" class="text-left">{{ 'label.empty_results'|trans() }}</td>
</tr>
{% endif %}
