<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">{{ 'label.events_filters'|trans() }}: <span id="filter-title-dates"></span>
            <label class="switch block right mt10">
                <span class="btn btn-sm btn-primary btn-block clear-calendar-filters">{{ 'label.clear_filter'|trans() }}</span>
            </label>
        </div>
    </div>
    <div class="panel-menu admin-form theme-primary">
        {{ include('common/calendar/filters.html.twig') }}
    </div>
    <div class="panel-body pn">
        <div class="table-responsive">
            <table class="table admin-form theme-warning tc-checkbox-1 fs13">
                <thead>
                <tr class="bg-light">
                    <th class="">{{ 'label.image'|trans() }}</th>
                    <th class="">{{ 'label.name'|trans() }}</th>
                    <th class="">{{ 'label.entity'|trans() }}</th>
                    <th class="">{{ 'label.address'|trans() }}</th>
                    <th class="">{{ 'label.category'|trans() }}</th>
                    <th class="">{{ 'label.status'|trans() }}</th>
                    <th class="">{{ 'label.acceptance'|trans() }}</th>
                    <th class="">{{ 'label.time'|trans() }}</th>
                    <th class="text-right">{{ 'label.actions'|trans() }}</th>
                </tr>
                </thead>
                <tbody id="filtred-events-list">
                    <tr>
                        <td colspan="7" class="text-left">{{ 'label.empty_results'|trans() }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>