{{ form_start(filterForm, { 'attr': {'class': 'form-horizontal calendar-filter-form', 'novalidate': 'true'} }) }}
<div class="row">
    <div class="col-md-3">
        {{ form_widget(filterForm.category) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(filterForm.entity) }}
    </div>
    {% if filterForm.addedBy is defined %}
    <div class="col-md-2">
        {{ form_widget(filterForm.addedBy) }}
    </div>
    {% endif %}
    <div class="col-md-2">
        {{ form_widget(filterForm.status) }}
    </div>
    <div class="col-md-2">
        {{ form_widget(filterForm.accepted) }}
    </div>
</div>
{{ form_end(filterForm) }}