{% extends 'base/contentBase.html.twig' %}
{% block title %}{{ 'label.calendar'|trans() }} - {{ site_name }}{% endblock %}

{% block content %}
<section id="content" class="calendar-page table-layout animated fadeIn">
    <div class="tray tray-center">
        <!-- Calendar -->
        <div id='calendar' class="admin-theme "></div>
        {{ include('common/calendar/eventSection.html.twig') }}
    </div>
    <!-- end: .tray-center -->

</section>
    {% block modals %}
        {{ include('common/calendar/modals/modalTemplate.html.twig') }}
        {{ include('admin/modals/popupAcceptConfirmation.html.twig') }}
    {% endblock %}

{% endblock %}