{% if isAccepted == true %}
    <span class="label label-success">
        {{ 'label.accepted'|trans() }}
    </span>
{% else %}
    <span class="label label-danger">
        {{ 'label.not_accepted'|trans() }}
    </span>
{% endif %}