<div class="panel-heading">
    <div class="panel-title hidden-xs">
        <span class="glyphicon glyphicon-filter"></span>{{ 'label.filters'|trans() }}</div>
</div>

<div class="panel-body">
    {{ form_start(filterForm, { 'attr': {'class': 'form-horizontal datatable-filter-form', 'novalidate': 'true'} }) }}
    <div class="row">
        <div class="form-group col-lg-6">
            <label class="col-lg-4 control-label">
                {{ form_label(filterForm.name) }}
            </label>
            <div class="col-lg-8">
                <div class="bs-component">
                    {{ form_widget(filterForm.name) }}
                </div>
            </div>
        </div>

        <div class="form-group col-lg-6">
            <label class="col-lg-4 control-label">
                {{ form_label(filterForm.status) }}
            </label>
            <div class="col-lg-8">
                <div class="bs-component">
                    {{ form_widget(filterForm.status) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-6">
            <label class="col-lg-4 control-label">
                {{ form_label(filterForm.category) }}
            </label>
            <div class="col-lg-8">
                <div class="bs-component">
                    {{ form_widget(filterForm.category) }}
                </div>
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label class="col-lg-4 control-label">
                {{ form_label(filterForm.accepted) }}
            </label>
            <div class="col-lg-8">
                <div class="bs-component">
                    {{ form_widget(filterForm.accepted) }}
                </div>
            </div>
        </div>
    </div>

    {% if filterForm.addedBy is defined %}
    <div class="row">
        <div class="form-group col-lg-6">
            <label class="col-lg-4 control-label">
                {{ form_label(filterForm.addedBy) }}
            </label>
            <div class="col-lg-8">
                <div class="bs-component">
                    {{ form_widget(filterForm.addedBy) }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <label class="switch block right">
        <span class="btn btn-sm btn-primary btn-block clear-filters">{{ 'label.clear_filter'|trans() }}</span>
    </label>
    {{ form_end(filterForm) }}
</div>
