{% if status == incomingConst %}
    <span class="label label-success">
        {{ statusConst[incomingConst]|trans() }}
    </span>
{% elseif status == ongoingConst %}
    <span class="label label-info">
         {{ statusConst[ongoingConst]|trans() }}
    </span>
{% else %}
    <span class="label label-danger">
         {{ statusConst[pastConst]|trans() }}
    </span>
{% endif %}