<!-- START Delete Popup -->
<div id="modal-unjoin-form" class="popup-basic admin-form mfp-with-anim mfp-hide" role="dialog">
    <div class="panel">
        <div class="panel-heading">
              <span class="panel-title">
                <i class="fa fa-check"></i>{{ 'action.confirmation'|trans() }}</span>
        </div>
        <form action="" method="post" id="form-action-unjoin-confirmation">
            <div class="panel-body p25">
                <div class="section row">
                    <div class="col-md-12">
                        {{ 'action.u_sure_u_want_unjoin'|trans() }}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="bs-component">
                            <button type="button" class="btn btn-lg btn-default btn-block close-modal">{{ 'action.back'|trans() }}</button>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="bs-component">
                            <button type="submit" class="btn btn-lg btn-danger btn-block">{{ 'action.unjoin'|trans() }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END  Delete Popup -->