{% extends 'common/calendar/index.html.twig' %}

{% block javascripts_footer %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendar_panel') }}
    {{ encore_entry_script_tags('events_details') }}
{% endblock %}

