{% extends 'base/baseNoAside.html.twig' %}
{% block title %}{{ 'label.login'|trans() }} - {{ site_name }}{% endblock %}

{% block content %}
    <section id="content">
        <div class="admin-form theme-info" >
            <div class="row mb15 table-layout">
                <div class="col-xs-12 text-left va-m pln" style="font-size: 18px;color: #FFF;">
                    <b>{{ site_name }}</b>
                </div>
            </div>
            <div class="panel panel-info mt10 br-n">
                <div class="panel-body p25 bg-light">
                    <div class="section-divider mt10 mb40">
                        <span>{{ 'header.activation_success'|trans() }}</span>
                    </div>

                    <div class="section">
                        <p>
                            {{ 'user.activation_account_successfully_text'|trans() }}
                        </p>

                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <a href="{{ path('security_login') }}">
                        <span type="submit" class="button btn-primary pull-right">{{ 'label.login'|trans() }}</span>
                    </a>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
