{% extends 'base/baseNoAside.html.twig' %}
{% block title %}{{ 'label.login'|trans() }} - {{ site_name }}{% endblock %}

{% block content %}
    <section id="content">
        <div class="admin-form theme-info">
            {{ include('front/base/header.html.twig') }}
            <div class="panel panel-info mt10 br-n">
                <div class="panel-heading heading-border bg-white">
                    <div class="section row mn">
                        <div class="col-sm-6">
                            <a href="{{ path('connect_facebook_start') }}" class="button btn-social facebook span-left mr5 btn-block">
                                <span>
                                  <i class="fab fa-facebook"></i>
                                </span>
                                Facebook
                            </a>
                        </div>

                        <div class="col-sm-6">
                            <a href="{{ path('connect_google_start') }}" class="button btn-social googleplus span-left btn-block">
                            <span>
                              <i class="fab fa-google"></i>
                            </span>
                                Google
                            </a>
                        </div>
                    </div>
                </div>

                <form method="post" action="{{ path('security_login') }}">
                    <div class="panel-body bg-light p30">
                        <div class="row">
                            <div class="col-sm-7 pr30">
                                <div class="section">
                                    <label for="username" class="field-label text-muted fs18 mb10">{{ 'label.email'|trans }}</label>
                                    <label for="username" class="field prepend-icon">
                                        <input type="text" name="_username" id="_username" class="gui-input" placeholder="{{ 'label.placeholder_email'|trans }}" value="{{ last_username }}">
                                        <label for="_username" class="field-icon">
                                            <i class="fa fa-user"></i>
                                        </label>
                                    </label>
                                </div>

                                <div class="section">
                                    <label for="username" class="field-label text-muted fs18 mb10">{{ 'label.password'|trans }}</label>
                                    <label for="password" class="field prepend-icon">
                                        <input type="password" name="_password" id="_password" class="gui-input" placeholder="{{ 'label.placeholder_password'|trans }}">
                                        <label for="_password" class="field-icon">
                                            <i class="fa fa-lock"></i>
                                        </label>
                                    </label>
                                </div>
                                <!-- end section -->

                                {% if error %}
                                <div class="section">
                                    <div class="text-danger mb10">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                </div>
                                {% endif %}

                            </div>
                            <div class="col-sm-5 br-l br-grey pl30">
                                <h3 class="mb25">{{ 'label.you_will_have_access'|trans() }}:</h3>
                                <p class="mb15">
                                    <span class="fa fa-check text-success pr5"></span>{{ 'label.access_to_create_events'|trans() }}
                                </p>
                                <p class="mb15">
                                    <span class="fa fa-check text-success pr5"></span>{{ 'label.access_to_mange_entities'|trans() }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix p10 ph15">
                        <button type="submit" class="button btn-primary mr10 pull-right">{{ 'action.sign_in'|trans() }}</button>
                        <label class="switch ib switch-primary pull-left input-align mt10">
                            <input type="checkbox" name="_remember_me" id="remember" checked>
                            <label for="remember" data-on="{{ 'label.yes'|trans() }}" data-off="{{ 'label.no'|trans() }}"></label>
                            <span>{{ 'label.remember_me'|trans() }}</span>
                        </label>
                    </div>
                    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                </form>
            </div>
        </div>

    </section>
{% endblock %}