{% extends 'base/baseNoAside.html.twig' %}
{% block title %}{{ 'label.login'|trans() }} - {{ site_name }}{% endblock %}

{% block content %}
    <section id="content">
        <div class="admin-form theme-info" >
            {{ include('front/base/header.html.twig') }}
            <div class="panel panel-info mt10 br-n">
                <div class="panel-body p25 bg-light">
                    <div class="section-divider mt10 mb40">
                        <span>{{ 'header.account_created'|trans() }}</span>
                    </div>
                    <div class="section">
                        <p>
                            {{ 'user.account_created_text'|trans() }}
                        </p>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <a href="{{ path('security_login') }}">
                        <span type="submit" class="button btn-primary pull-right">{{ 'label.login'|trans() }}</span>
                    </a>
                </div>
            </div>
        </div>

    </section>
{% endblock %}