{% extends 'base/baseNoAside.html.twig' %}
{% block title %}{{ 'label.register'|trans() }} - {{ site_name }}{% endblock %}

{% block content %}
    <section id="content">
        <div class="admin-form theme-info" id="login1">
            {{ include('front/base/header.html.twig') }}

            <div class="panel panel-info mt10 br-n">
                <div class="panel-heading heading-border bg-white">
                    <div class="section row mn">
                        <div class="col-sm-6">
                            <a href="{{ path('connect_facebook_start') }}" class="button btn-social facebook span-left mr5 btn-block">
                                <span>
                                  <i class="fab fa-facebook"></i>
                                </span>
                                Facebook
                            </a>
                        </div>

                        <div class="col-sm-6">
                            <a href="{{ path('connect_google_start') }}" class="button btn-social googleplus span-left btn-block">
                            <span>
                              <i class="fab fa-google"></i>
                            </span>
                                Google
                            </a>
                        </div>
                    </div>
                </div>

                {{ form_start(form) }}
                    <div class="panel-body p25 bg-light">
                        <div class="section-divider mt10 mb40">
                            <span>{{ 'header.set_up_account'|trans() }}</span>
                        </div>

                        <div class="section">
                            <label for="form_fullName" class="field prepend-icon">
                                {{ form_widget(form.fullName) }}
                                {% if form_errors(form.fullName) is not empty %}
                                    <div class="error-form">{{ form_errors(form.fullName) }}</div>
                                {% endif %}
                                <label for="form_fullName" class="field-icon">
                                    <i class="fa fa-user"></i>
                                </label>
                            </label>
                        </div>

                        <div class="section">
                            <label for="form_email" class="field prepend-icon">
                                {{ form_widget(form.email) }}
                                {% if form_errors(form.email) is not empty %}
                                    <div class="error-form">{{ form_errors(form.email) }}</div>
                                {% endif %}
                                <label for="form_email" class="field-icon">
                                    <i class="fa fa-envelope"></i>
                                </label>
                            </label>
                        </div>

                        <div class="section">
                            <label for="new_user_password_first" class="field prepend-icon">
                                {{ form_widget(form.password.first) }}
                                {% if form_errors(form.password.first) is not empty %}
                                    <div class="error-form">{{ form_errors(form.password.first) }}</div>
                                {% endif %}
                                <label for="new_user_password_first" class="field-icon">
                                    <i class="fa fa-unlock-alt"></i>
                                </label>
                            </label>
                        </div>

                        <div class="section">
                            <label for="form_user_password_second" class="field prepend-icon">
                                {{ form_widget(form.password.second) }}
                                {% if form_errors(form.password.second) is not empty %}
                                    <div class="error-form">{{ form_errors(form.password.second) }}</div>
                                {% endif %}
                                <label for="form_user_password_second" class="field-icon">
                                    <i class="fa fa-lock"></i>
                                </label>
                            </label>
                        </div>

                        <div class="section-divider mv40">
                            <span>{{ 'label.review_terms'|trans() }}</span>
                        </div>

                        <div class="section mb15">
                            <label class="option block mt15">
                                {{ form_widget(form.terms) }}
                                {% if form_errors(form.terms) is not empty %}
                                    <div class="error-form">{{ form_errors(form.terms) }}</div>
                                {% endif %}
                                <span class="checkbox"></span>{{ 'label.agree_terms'|trans() }}
                            </label>
                        </div>

                    </div>
                    <div class="panel-footer clearfix">
                        <button type="submit" class="button btn-primary pull-right">{{ 'label.create_account'|trans() }}</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}