<div class="panel-heading">
    <div class="panel-title hidden-xs">
        <span class="glyphicon glyphicon-filter"></span>{{ 'label.actions'|trans() }}</div>
</div>

<div class="panel-body">
    <div class="btn-group ">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" >{{ 'action.create'|trans() }}
            <span class="caret ml5"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{{ path('panel_entity_new') }}">{{ 'label.new_entity'|trans() }}</a>
            </li>
        </ul>
    </div>
</div>
