<div class="panel panel-dashboard">
    <div class="panel-heading ">
        <span class="panel-icon">
            <i class="fa fa-columns"></i>
        </span>
        <span class="panel-title">{{ 'label.entities'|trans() ~ ' - ' ~ 'label.top_ten'|trans() }} </span>
    </div>
    <div class="panel-body pn">
        <table class="table mbn tc-med-1 tc-bold-last">
            <thead>
                <tr class="">
                    <th>{{ 'label.name'|trans() }}</th>
                    <th>{{ 'label.events_count'|trans() }}</th>
                    <th class="text-right">{{ 'label.action'|trans() }}</th>
                </tr>
            </thead>
            <tbody>
            {% if entities is not empty %}
                {% for entity in entities %}
                    <tr>
                        <td>
                            {{ entity.entity.name }}
                        </td>
                        <td>
                           {{ entity.count }}
                        </td>
                        <td>
                            <div class="btn-group text-right">
                                <button type="button" class="btn btn-primary br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> {{ 'label.actions'|trans() }}
                                    <span class="caret ml5"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{{ path('admin_entity_edit', {'id': entity.entity.id}) }}">{{ 'action.edit'|trans() }}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td colspan="3" class="text-left">{{ 'label.empty_results'|trans() }}</td>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
