<div class="panel panel-dashboard">
    <div class="panel-heading">
        <span class="panel-icon">
            <i class="fa fa-calendar-check"></i>
        </span>
        <span class="panel-title">
            {{ 'label.coming_events_next_two_days'|trans() }}
        </span>
    </div>
    <div class="panel-body pn">
        <div class="table-responsive">
            <table class="table admin-form theme-warning tc-checkbox-1 fs13">
                <thead>
                    <tr class="bg-light">
                        <th class="">{{ 'label.image'|trans() }}</th>
                        <th class="">{{ 'label.name'|trans() }}</th>
                        <th class="">{{ 'label.entity'|trans() }}</th>
                        <th class="">{{ 'label.address'|trans() }}</th>
                        <th class="">{{ 'label.category'|trans() }}</th>
                        <th class="">{{ 'label.status'|trans() }}</th>
                        <th class="">{{ 'label.time'|trans() }}</th>
                        <th class="text-right">{{ 'label.actions'|trans() }}</th>
                    </tr>
                </thead>
                <tbody id="filtred-events-list">
                {% if events is not empty %}
                    {% set STATUS = constant('App\\Entity\\Event::STATUS') %}
                    {% set INCOMING = constant('App\\Entity\\Event::INCOMING') %}
                    {% set ONGOING = constant('App\\Entity\\Event::ONGOING') %}
                    {% set PAST = constant('App\\Entity\\Event::PAST') %}

                    {% for event in events %}
                        <tr>
                            <td class="w100">
                                {% if vich_uploader_asset(event, 'imageFile') is not null %}
                                    <img class="img-responsive mw40 ib mr10" title="event-image" src="{{ vich_uploader_asset(event, 'imageFile')|imagine_filter('event_image_thumbnail') }}">
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="">{{ event.name }}</td>
                            <td class="">{{ event.entity.name }}</td>
                            <td class="">{{ event.address }}</td>
                            <td class="">
                                {% include 'admin/categories/colorTemplate.html.twig'
                                    with {
                                    'color': event.category.color,
                                    'name': event.category.name
                                }
                                %}
                            </td>
                            <td class="">
                                {% include 'common/events/statusTemplate.html.twig'
                                    with {
                                    'status': event.status,
                                    'statusConst': STATUS,
                                    'incomingConst': INCOMING,
                                    'ongoingConst': ONGOING,
                                    'pastConst': PAST
                                }
                                %}
                            <td class="">{{ event.startAt|date('H:i Y-m-d') }} - {{ event.endAt|date('H:i Y-m-d') }}</td>
                            <td class="text-right">
                                <div class="btn-group text-right">
                                    <button type="button" class="btn btn-primary br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> {{ 'label.actions'|trans() }}
                                        <span class="caret ml5"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a class="preview-event-action" data-event-edit="{{ path('admin_event_edit', {'id': event.id}) }}" data-event-preview="{{ path('admin_event_details_modal', {'id': event.id}) }}">{{ 'action.preview'|trans() }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin_event_edit', {'id': event.id}) }}">{{ 'action.edit'|trans() }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7" class="text-left">{{ 'label.empty_results'|trans() }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
