{% extends 'base/contentBase.html.twig' %}
{% block title %}{{ 'label.dashboard'|trans() }} - {{ site_name }}{% endblock %}

{% block content %}
    <section id="content" class="animated fadeIn">
        <div class="row">
            {% include 'admin/dashboard/tileStatistics.html.twig' %}
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/dashboard/eventsList.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% include 'admin/dashboard/categoriesList.html.twig' %}
            </div>
            <div class="col-md-6">
                {% include 'admin/dashboard/entitiesList.html.twig' %}
            </div>
        </div>
    </section>
    {% block modals %}
        {{ include('common/calendar/modals/modalTemplate.html.twig') }}
    {% endblock %}
    {% block javascripts_footer %}
        {{ parent() }}
        {{ encore_entry_script_tags('preview_event') }}
    {% endblock %}
{% endblock %}