<div class="col-sm-6 col-md-4">
    <div class="bs-component">
        <div class="panel panel-tile text-center">
            <div class="panel-body dashboard-tile-widget">
                <i class="glyphicon glyphicon-user text-muted fs70 mt10"></i>
                <h1 class="fs35 mbn">{{ totalUser }}</h1>
                <h5 class="">{{ 'label.users'|trans()|upper }}</h5>
            </div>
            <div class="panel-footer dashboard-tile-widget-bottom br-n p12">
                        <span class="fs11">
                          <i class="fa fa-arrow-up pr5"></i>
                          <b> {{ totalUserLastMonth }} - {{ 'label.added_last_month'|trans()|upper }}</b>
                        </span>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4">
    <div class="bs-component">
        <div class="panel panel-tile text-center">
            <div class="panel-body dashboard-tile-widget">
                <i class="fa fa-calendar-check text-muted fs70 mt10"></i>
                <h1 class="fs35 mbn">{{ totalEvents }}</h1>
                <h5 class="">{{ 'label.events'|trans()|upper }}</h5>
            </div>
            <div class="panel-footer dashboard-tile-widget-bottom br-n p12">
                        <span class="fs11">
                          <i class="fa fa-arrow-up pr5"></i>
                          <b> {{ totalEventsLastMonth }} - {{ 'label.added_last_month'|trans()|upper }}</b><br>
                        </span>
                        <span class="fs11">
                            <a href="{{ path('admin_event_list_not_accepted') }}"><b> {{ notAcceptedEvents }} - {{ 'label.coming_not_accepted_events'|trans()|upper }}</b></a>
                        </span>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div class="bs-component">
        <div class="panel panel-tile text-center">
            <div class="panel-body dashboard-tile-widget">
                <i class="glyphicon glyphicon-equalizer text-muted fs70 mt10"></i>
                <h1 class="fs35 mbn">{{ totalEntity }}</h1>
                <h5 class="">{{ 'label.entities'|trans()|upper }}</h5>
            </div>
            <div class="panel-footer dashboard-tile-widget-bottom br-n p12">
                        <span class="fs11">
                          <i class="fa fa-arrow-up pr5"></i>
                          <b> {{ totalEntityLastMonth }} - {{ 'label.added_last_month'|trans()|upper }}</b>
                        </span>
            </div>
        </div>
    </div>
</div>