{% extends 'base/contentBase.html.twig' %}
{% block title %}{{ 'label.entities'|trans() }} - {{ site_name }}{% endblock %}

{% block content %}
<section id="content" class="table-layout animated fadeIn">
<div class="row">
        <div class="col-md-12">
            <div class="panel">
                {% form_theme form 'base/forms/vich_fields.html.twig' %}

                {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                <div class="panel-heading">
                {% if action == 'edit' %}
                    <span class="panel-title">{{ 'action.editing'|trans }}</span>
                {% else %}
                    <span class="panel-title">{{ 'action.creating'|trans }}</span>
                {% endif %}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">{{ form_label(form.name) }}*</label>
                        <div class="col-lg-10">
                            <div class="bs-component">
                                {{ form_widget(form.name) }}
                                {% if form_errors(form.name) is not empty %}
                                    <div class="error-form">{{ form_errors(form.name) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">{{ form_label(form.description) }}</label>
                        <div class="col-lg-10">
                            <div class="bs-component">
                                {{ form_widget(form.description) }}
                                {% if form_errors(form.description) is not empty %}
                                    <div class="error-form">{{ form_errors(form.description) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">{{ form_label(form.city) }}*</label>
                        <div class="col-lg-5">
                            <div class="bs-component">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-map-marker"></i>
                                    </span>
                                    {{ form_widget(form.city) }}
                                    {% if form_errors(form.city) is not empty %}
                                        <div class="error-form">{{ form_errors(form.city) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">{{ form_label(form.address) }}*</label>
                        <div class="col-lg-5">
                            <div class="bs-component">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-location-arrow"></i>
                                    </span>
                                    {{ form_widget(form.address) }}
                                    {% if form_errors(form.address) is not empty %}
                                        <div class="error-form">{{ form_errors(form.address) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">{{ form_label(form.contactEmail) }}*</label>
                        <div class="col-lg-5">
                            <div class="bs-component">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    {{ form_widget(form.contactEmail) }}
                                    {% if form_errors(form.contactEmail) is not empty %}
                                        <div class="error-form">{{ form_errors(form.contactEmail) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">{{ form_label(form.contactPhone) }}</label>
                        <div class="col-lg-5">
                            <div class="bs-component">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    {{ form_widget(form.contactPhone) }}
                                    {% if form_errors(form.contactPhone) is not empty %}
                                        <div class="error-form">{{ form_errors(form.contactPhone) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">{{ form_label(form.externalLink) }}</label>
                        <div class="col-lg-5">
                            <div class="bs-component">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                    {{ form_widget(form.externalLink) }}
                                    {% if form_errors(form.externalLink) is not empty %}
                                        <div class="error-form">{{ form_errors(form.externalLink) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">{{ form_label(form.logoFile) }}</label>
                        <div class="col-lg-5">
                            <div class="bs-component">
                                {{ form_widget(form.logoFile) }}
                                {% if form_errors(form.logoFile) is not empty %}
                                    <div class="error-form">{{ form_errors(form.logoFile) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if form.users is defined %}
                    <div class="form-group">
                        <label class="col-lg-2 control-label">{{ form_label(form.users) }}</label>
                        <div class="col-lg-10">
                            <div class="bs-component">
                                {{ form_widget(form.users) }}
                                {% if form_errors(form.users) is not empty %}
                                    <div class="error-form">{{ form_errors(form.users) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <label class="switch block right">
                        <a href="{{ path('admin_entity_list') }}" class="btn btn-default ">{{ 'action.back'|trans }}</a>
                        <button type="submit" class="btn btn-system">{{ 'action.save'|trans }}</button>
                    </label>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
