{% extends 'email/base.html.twig' %}

{% block emailContent %}
    <table cellspacing="0" cellpadding="0" width="600" class="w320">
        <tbody><tr>
            <td class="header-lg">
                {{ header|nl2br }}
            </td>
        </tr>
        <tr>
            <td class="free-text">
                {{ text|nl2br }}
            </td>
        </tr>
        {% if buttonLabel is defined and buttonLabel is not null and buttonLabel is defined and buttonUrl is not null and buttonUrl is defined%}
        <tr>
            <td class="button">
                <div><!--[if mso]>
                    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ buttonUrl }}" style="height:45px;v-text-anchor:middle;width:155px;" arcsize="15%" strokecolor="#ffffff" fillcolor="#4a89dc">
                        <w:anchorlock/>
                        <center style="color:#ffffff;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;">{{ buttonLabel }}</center>
                    </v:roundrect>
                    <![endif]--><a class="button-mobile" href="{{ buttonUrl }}" style="background-color:#4a89dc;border-radius:5px;color:#ffffff;display:inline-block;font-family:&#39;Cabin&#39;, Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;line-height:45px;text-align:center;text-decoration:none;width:155px;-webkit-text-size-adjust:none;mso-hide:all;">{{ buttonLabel }}</a></div>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
